[VocabConfig]
graphemes:  _ ' - а б в г д е ж з и й к л м н о п р с т у ф х ц ч ш щ ъ ь ю я є і ї ґ pad <s> </s>
phonemes:   AA AA1 AO AO1 AOU B B2 B23 B3 CH CH2 CH23 CH3 D D3 DJ DJ3 DZ DZJ EH EH1 EIH EIY F F2 F23 F3 G G2 H H2 H3 IH IH1 IHE IY IY1 JH JH2 K K2 K23 K3 L L3 LJ LJ3 M M2 M23 M3 N N3 NJ NJ3 P P2 P23 P3 R R3 RJ RJ3 S S3 SH SH2 SH23 SH3 SJ SJ3 T T3 TJ TJ3 TS TS3 TSJ TSJ3 UH UH1 V V2 V23 WH WH2 X X2 X3 Y Y3 Z Z3 ZH ZH2 ZH23 ZH3 ZJ ZJ3 pad <os> </os>
human_phonemes:   а а́ о о́ о<sup>у</sup> б б` б`: б: ч ч` ч`: ч: д д: д’ д’: дз дз’ е е́ е<sup>и</sup> е<sup>і</sup> ф ф` ф`: ф: ґ ґ` г г` г: и и́ и<sup>е</sup> і і́ дж дж` к к` к`: к: л л: л’ л’: м м` м`: м: н н: н’ н’: п п` п`: п: р р: р’ р’: с с: ш ш` ш`: ш: с’ с’: т т: т’ т’: ц ц: ц’ ц’: у у́ в в` в`: ў ў` х х` х: й й` з з: ж ж` ж`: ж: з’ з’: pad <os> </os>
padding:    pad
phoneme_bos:   <os>
phoneme_eos:    </os>

[EncoderConfig]
encoder_d_embed:    256
encoder_d_hidden:   256
encoder_n_layers:   1
encoder_bidirectional:  False

[DecoderConfig]
decoder_d_embed:    256
decoder_d_hidden:   256
decoder_n_layers:   1
attention:  False

[GeneratorConfig]
beam_size:  3
max_generate_len: 22

[OptimizerConfig]
lr: 1e-3
weight_decay:   1e-5
